/* Start Variables */

:root {
    --main-duration: 0.5s;
    --main-color: #10cab7;
    --color-background-color: #f6f6f6;
    --section-padding: 60px;
}

/* End Variables */


/* Start Global Rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Mediam Screens */
@media (min-width: 929px) {
    .container {
        width: 970px;
    }
}

/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Componetns */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading + p {
    margin: -30px;
    text-align: center;
    color: #797979;
    font-size: 20px;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading + p {
        margin-top: -20px;
    }
}

/* End Componetns */

/* start Header */

header {
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 60px;
}

header .link {
    position: relative;
}

header .link:hover .icons span:nth-child(2) {
    width: 100%;
}

header .link .icons {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header .link .icons span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

header .link .icons span:first-child {
    width: 100%;
}
header .link .icons span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

header .link .icons span:last-child {
    width: 100%;
}

header .link ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #f6f6f6;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

header .link ul::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    top: -20px;
    right: 5px;
}

header .link:hover ul {
    display: block;
}

header .link ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 15px;
    transition: 0.3s;

}

header .link ul li a:hover {
    padding-left: 25px;
}

header .link ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* End Header */

/* Start Landing */

.landing {
    background-image: url(../Images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-size: 50px;
}

.landing .intro-text  p {
    font-size: 19px;
    line-height: 1.8s;
}

/* End Landing */

/* Start Feture */

.feature {
    background-color: var(--color-background-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.feature .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.feature .container .feat {
    padding: 20px;
    text-align: center;
}

.feature .container .feat i {
    color: var(--main-color);
}

.feature .container .feat h3 {
    font-weight: 800;
    margin: 30px 0;
    line-height: 1.8;
    font-size: 17px;
}

.feature .container .feat p {
    color: #777;
}

/* Endart Feture */


/* Start Services */

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

/* End Services */
